.calendar__day {
  float: left;
  width: 14.28571429%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 0.75em;
  text-align: center;
  height: 30px;
  line-height: 30px !important;
  display: inline-block;
  vertical-align: middle;
  background: white;
  cursor: auto;
  color: grey;
}

.calendar__day--today {
  color: indianred !important;
}

.calendar__day--current-month {
  color: black;
  cursor: pointer;
}

:host-context(.sleeping-quality) .sleeping-quality--good {
  background-color: #2EB669 !important;
}

:host-context(.sleeping-quality) .sleeping-quality--regular {
  background-color: #FFCD41 !important;
}

:host-context(.sleeping-quality) .sleeping-quality--bad {
  background-color: #FD4045 !important;
}

:host-context(.tiredness-feeling) .tiredness-feeling--good {
  background-color: #2EB669 !important;
}

:host-context(.tiredness-feeling) .tiredness-feeling--regular {
  background-color: #FFCD41 !important;
}

:host-context(.tiredness-feeling) .tiredness-feeling--bad {
  background-color: #FD4045 !important;
}
