<div class="mdl-grid sleeping-quality" >
    <div class="mdl-cell mdl-cell--4-col" *ngFor="let month of months">
        <div class="calendar">
            <div class="header">
                {{ month.name }}
                <i class="fa fa-angle-left"></i>
                <i class="fa fa-angle-right"></i>
            </div>
            <div class="week names">
                <span class="day">Mon</span>
                <span class="day">Tue</span>
                <span class="day">Wed</span>
                <span class="day">Thu</span>
                <span class="day">Fri</span>
                <span class="day">Sat</span>
                <span class="day">Sun</span>
            </div>
            <div class="week" *ngFor="let week of month.weeks">
                <span [ngClass]="day.tirednessFeeling" class="day" *ngFor="let day of week.days">
                  {{ day.number }}
                </span>
            </div>
        </div>
    </div>
    <a routerLink="/home/entry/new" class="sd-add-button" mdl-button mdl-button-type="fab" mdl-colored="accent"
            mdl-ripple>
        <mdl-icon>add</mdl-icon>
    </a>
</div>
<!--  [ngClass]="decorateDay(day)" (click)="onSelect(day)" -->
<!-- [ngStyle]="{'background-color': backgroundColor }" -->
