<form mdl #f="ngForm" novalidate (ngSubmit)="onSubmit()">
    <input [ngModel]="entry.uuid" type="hidden" class="form-control" name="uuid" id="uuid">
    <input [ngModel]="entry.date" type="hidden" class="form-control" name="date" id="date">
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div style="text-align: left;" class="mdl-cell mdl-cell--12-col">
            <a style="text-decoration: none" href="javascript:window.history.back();"><mdl-icon style="vertical-align: middle;">chevron_left</mdl-icon><span>back</span></a>
        </div>
        <div style="text-align: left;" class="mdl-cell mdl-cell--12-col">
            <div class="form-group">
                <h5>How did you sleep last night?</h5>
                <div *ngFor="let sleepingQuality of sleepingQualityValues" style="display: block;">
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                        <input type="radio" name="sleepingQuality"  class="mdl-radio__button"
                               [(ngModel)]="entry.sleepingQuality" [value]="sleepingQuality.value">
                        <span class="mdl-radio__label">{{sleepingQuality.display}}</span>
                    </label>
                </div>
            </div>
        </div>
        <div style="text-align: left;" class="mdl-cell mdl-cell--12-col">
            <div class="form-group">
                <h5>How do you feel of tiredness?</h5>
                <div class="radio" *ngFor="let tirednessFeeling of tirednessFeelingValues" style="display: block;">
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                        <input type="radio" name="tirednessFeeling" class="mdl-radio__button"
                               [(ngModel)]="entry.tirednessFeeling"
                               [value]="tirednessFeeling.value">
                        <span class="mdl-radio__label">{{tirednessFeeling.display}}</span>
                    </label>
                </div>
            </div>
        </div>
        <div style="text-align: left;" class="mdl-cell mdl-cell--12-col">
            <button mdl-button mdl-button-type="raised" mdl-colored="accent" type="submit" mdl-ripple>Submit</button>
            <button mdl-button mdl-button-type="raised" mdl-colored="primary" *ngIf="entry.uuid" type="button"
                    (click)="deleteEntry(entry.uuid)">Delete register
            </button>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>
</form>


