<h4>Calendar</h4>
<div style="display: inline-block" class="month" *ngFor="let month of months">
  <div class="calendar">
    <div class="header">
      {{ month.name }}
      <i class="fa fa-angle-left"></i>
      <i class="fa fa-angle-right"></i>
    </div>
    <div class="week names">
      <span class="day">Mon</span>
      <span class="day">Tue</span>
      <span class="day">Wed</span>
      <span class="day">Thu</span>
      <span class="day">Fri</span>
      <span class="day">Sat</span>
      <span class="day">Sun</span>
    </div>
    <div class="week" *ngFor="let week of month.weeks">
      <span class="day" *ngFor="let day of week.days">
        {{ day.number }}
      </span>
    </div>
  </div>
</div>
